{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
</head>
<body>

<!--HEADER-->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container">


        <a class="navbar-brand logo" href="#">NS</a>

        <button class="navbar-toggler"
                data-bs-toggle="collapse"
                data-bs-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav ms-auto">

                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/Mykyta28">GitHub</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#about-section">About</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#experience-section">Experience</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#portfolio-section">Portfolio</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#education-section">Education</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#certificate-section">Certificates</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#contact-section">Contact</a>
                </li>

            </ul>
        </div>

    </div>
</nav>


<!--ABOUT SECTION-->
<section id="about-section">

    {% if messages %}
        <div class="messages-container">
            {% for message in messages %}
                <div class="message-alert {{ message.tags }}" role="alert">
                    <i class="bi
                        {% if message.tags == 'success' %}bi-check-circle-fill
                        {% elif message.tags == 'error' %}bi-x-circle-fill
                        {% elif message.tags == 'warning' %}bi-exclamation-triangle-fill
                        {% elif message.tags == 'info' %}bi-info-circle-fill
                        {% else %}bi-bell-fill
                        {% endif %}
                    "></i>
                    <span class="message-text">{{ message }}</span>
                    <button type="button" class="close-btn" onclick="this.parentElement.remove()">
                        <i class="bi bi-x-lg"></i>
                    </button>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <h2 class="section-title">About Me</h2>

    <div class="about-container">

        <!-- Photo -->
        <div class="about-left">
            <div class="about-photo">
                <img src="{% static 'images/pic.jpeg' %}" alt="My Photo">
            </div>

            <div class="skills">
                <span>Python</span>
                <span>Linux/Windows/macOS</span>
                <span>Windows</span>
                <span>Networking</span>
                <span>Cybersecurity</span>
                <span>HTML/CSS</span>
                <span>Problem Solving</span>
                <span>Imaging</span>
                <span>Git</span>
                <span>MySQL</span>
                <span>MongoDB</span>
                <span>Provisioning</span>
                <span>Figma</span>
                <span>BIOS</span>
                <span>Blueprinting</span>
                <span>WordPress</span>
                <span>JS</span>
                <span>Scripting</span>
                <span>Autopilot</span>

            </div>
        </div>

        <!-- Content -->
        <div class="about-content">

            <h3>Junior Cybersecurity / System Administrator</h3>

            <div class="about-text">

                <p>
                    I'm an IT professional with a strong interest in
                    <strong>System Administration, Networking, and Cybersecurity</strong>.
                    I enjoy configuring and maintaining systems, troubleshooting technical
                    issues, and understanding how networks and infrastructure work together.
                </p>

                <p>
                    My hands-on experience includes
                    <strong>Windows and Linux environments, system configuration,
                    hardware deployment, networking, and IT infrastructure support</strong>.
                    I've worked with routers, device provisioning, operating system and BIOS
                    configuration, and hardware maintenance.
                </p>

                <p>
                    I'm currently pursuing an <strong>Associate degree in Cybersecurity</strong>
                    and have earned <strong>CompTIA Network+ and CompTIA Security+</strong>
                    certifications, strengthening my knowledge of networking and cybersecurity.
                </p>

                <p>
                    I also have experience in
                    <strong>web development and programming</strong>, including Python,
                    JavaScript, React.js, Node.js, HTML/CSS, and databases. I use these skills
                    to better understand systems, automate tasks, solve problems, and build
                    practical solutions.
                </p>

                <p>
                    My goal is to continue growing in
                    <strong>system administration, networking, and cybersecurity</strong>
                    while helping maintain, secure, and improve modern IT environments.
                </p>

            </div>


        </div>

    </div>

</section>

<!--EXPERIENCE SECTION-->
<section id="experience-section">

    <h2 class="section-title">My Experience</h2>

    <div class="experience-card">

        <div class="job-item">
            <div class="insight job">
                <span class="label">Insight Enterprises</span>
                <span class="value">08/2024 - Present</span>
                <span class="arrow">▼</span>
            </div>
            <div class="work-description">
                <p>
                    Configure and prepare computers for various client companies
                    according to specific technical requirements.
                    Perform Autopilot setup, provisioning, imaging, blueprint configuration,
                    and quality assurance (QA) to ensure system readiness.
                    Install BIOS and operating system updates, as well as hardware
                    components such as RAM, CPUs, USB modules, and adapters.
                    Record serial numbers and detailed device information in the
                    company’s database after each deployment.
                    Contribute to eﬃcient device lifecycle management by ensuring all
                    systems are fully functional and compliant before delivery.
                </p>
            </div>
        </div>

        <div class="job-item">
            <div class="ozark job">
                <span class="label">Ozark</span>
                <span class="value">06/2021 - 07/2024</span>
                <span class="arrow">▼</span>
            </div>
            <div class="work-description">
                <p>
                    Installed and configured surveillance camera systems across multiple
                    store locations, ensuring reliable network connectivity and system
                    stability
                    Set up and maintained routers, printers, and other network devices,
                    integrating them into the company’s shared infrastructure
                    Replaced and repaired computer hardware components including
                    monitors, CPUs, keyboards, and power supplies
                    Configured corporate email accounts and provided on-site technical
                    support for employees.
                    Collaborated with store managers to troubleshoot hardware and
                    network issues, minimizing system downtime
                </p>
            </div>
        </div>

        <div class="job-item">
            <div class="freelance job">
                <span class="label">Freelance</span>
                <span class="value">08/2020 - 03/2021</span>
                <span class="arrow">▼</span>
            </div>
            <div class="work-description">
                <p>
                    Created front-end websites using HTML, CSS, and JavaScript
                    Completed student lab assignments and small applications in C, C++,
                    and C# using WinForms
                </p>
            </div>
        </div>

        <div class="job-item">
            <div class="roboclick job">
                <span class="label">RoboClick</span>
                <span class="value">06/2017 - 08/2017</span>
                <span class="arrow">▼</span>
            </div>
            <div class="work-description">
                <p>
                    Contributed to discussions for developing an online ordering system
                    Assisted in back-end algorithm development using C# and front-end
                    scripting with JavaScript
                </p>
            </div>
        </div>


    </div>
</section>

<!--PORTFOLIO SECTION-->
<section id="portfolio-section">

    <h2 class="section-title">My Portfolio</h2>

    <div class="first-project">

        <div class="portfolio-card">

            <div class="flip-card">
                <div class="flip-card-inner">

                    <div class="flip-card-front">
                        <img src="{% static 'images/spaceship.png' %}" alt="Shooter">
                    </div>

                    <div class="flip-card-back">
                        <h3>Shooter</h3>

                        <p>
                            Control a spaceship, fight waves of aliens, and survive as long as possible.
                        </p>

                        <div class="link-container">
                            <a href="https://github.com/Mykyta28/Shooter"
                               target="_blank">
                                Code View
                            </a>

                            <a href="https://mykyta28.github.io/Shooter/"
                               target="_blank">
                                Go Live
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="portfolio-description">

            <h3>Shooter</h3>

            <p>
                A 2D space shooter game developed in Python using Pygame. Control a spaceship, fight waves of incoming aliens, and shoot them down before they reach you. The game focuses on simple arcade-style gameplay, fast action, and responsive controls.
            </p>

            <h4>Tech Stack</h4>

            <div class="tech-stack">
                <span>Python</span>
                <span>pygame</span>
                <span>Adobe Illustrator</span>
                <span>Canva</span>
            </div>

        </div>

    </div>

    <div class="second-project">

            <div class="portfolio-description">

            <h3>Sushi store</h3>

            <p>
                A front-end sushi store application built with React.js. The application allows users to create, edit, and delete sushi orders, with session-based data storage and a responsive user interface developed using vanilla CSS.
            </p>

            <h4>Tech stack</h4>

            <div class="tech-stack">
                <span>React.js</span>
                <span>HTML5</span>
                <span>CSS3</span>
                <span>Session-based data storage</span>
                <span>Canva</span>
            </div>

        </div>


        <div class="portfolio-card">

            <div class="flip-card">
                <div class="flip-card-inner">

                    <div class="flip-card-front">
                        <img src="{% static 'images/sushi.png' %}" alt="Sushi store">
                    </div>

                    <div class="flip-card-back">
                        <h3>Sushi store</h3>

                        <p>
                            React.js application for ordering sushi fast and convenient.
                        </p>

                        <div class="link-container">
                            <a href="https://github.com/Mykyta28/JapanSushi"
                               target="_blank">
                                Code View
                            </a>

                            <a href="https://mykyta28.github.io/JapanSushi/"
                               target="_blank">
                                Go Live
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <div class="third-project">

        <div class="portfolio-card">

            <div class="flip-card">
                <div class="flip-card-inner">

                    <div class="flip-card-front">
                        <img src="{% static 'images/simple-bank.png' %}" alt="Simple-bank">
                    </div>

                    <div class="flip-card-back">
                        <h3>Simple Bank</h3>

                        <p>
                            JavaScript application. Manage your money simple.
                        </p>

                        <div class="link-container">
                            <a href="https://github.com/Mykyta28/SimpleBank"
                               target="_blank">
                                Code View
                            </a>

                            <a href="https://mykyta28.github.io/SimpleBank/"
                               target="_blank">
                                Go Live
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="portfolio-description">

            <h3>Simple Bank</h3>

            <p>
                A front-end bank application built with JavaScript.
                Users can register, log in, create, edit and delete their bank transactions.
                The application uses session-base  data storage and vanilla CSS
                for responsive UI.
            </p>

            <h4>Tech Stack</h4>

            <div class="tech-stack">
                <span>JavaScript</span>
                <span>HTML5</span>
                <span>CSS3</span>
                <span>Session-base data storage</span>
                <span>Canva</span>
                <span>Figma</span>
            </div>

        </div>

    </div>

    <div class="more-info">
        <p>This is only small part of that I can do. if you interesting in more, please go check my GitHub!😊</p>
        <a href="https://github.com/Mykyta28" target="_blank">Github</a>
    </div>

</section>

<!--EDUCATION SECTION-->
<section id="education-section">

    <h2 class="section-title">My Education</h2>
    <div class="education">

        <div class="harper-card college-card card">
            <img class="card-img-top" src="{% static 'images/harper-college.jpeg' %}" alt="Harper College">

            <ul class="about-college pe-4">
                <li>
                    <span class="label">🎓 Major</span>
                    <span class="value">Cybersecurity</span>
                </li>

                <li>
                    <span class="label">📜 Degree</span>
                    <span class="value">Associate</span>
                </li>

                <li>
                    <span class="label">📅 Dates</span>
                    <span class="value">Jan 2026 – Present</span>
                </li>

                <li>
                    <span class="label">📍 Location</span>
                    <span class="value">Palatine, IL</span>
                </li>
            </ul>

            <a href="https://www.harpercollege.edu/"
               target="_blank"
               class="btn btn-primary mt-auto">
                Visit Website
            </a>
        </div>
        <div class="donetsk-card college-card card">
            <img class="card-img-top" src="{% static 'images/donetsk-college.jpg' %}" alt="Donetsk University">

            <ul class="about-college pe-4">
                <li>
                    <span class="label">🎓 Major</span>
                    <span class="value">System Information</span>
                </li>

                <li>
                    <span class="label">📜 Degree</span>
                    <span class="value">Bachelor</span>
                </li>

                <li>
                    <span class="label">📅 Dates</span>
                    <span class="value">Sep 2015 – Jul 2020</span>
                </li>

                <li>
                    <span class="label">📍 Location</span>
                    <span class="value">Donetsk, Ukraine</span>
                </li>
            </ul>

            <a href="https://donntu.edu.ua/en/donetsk-national-technical-university"
               target="_blank"
               class="btn btn-primary mt-auto">
                Visit Website
            </a>
        </div>
        <div class="step-card college-card card">
            <img class="card-img-top" src="{% static 'images/step-academy.png' %}" alt="Step Academy">

            <ul class="about-college pe-4">
                <li>
                    <span class="label">🎓 Major</span>
                    <span class="value">Computer Science</span>
                </li>

                <li>
                    <span class="label">📜 Degree</span>
                    <span class="value">Certificate</span>
                </li>

                <li>
                    <span class="label">📅 Dates</span>
                    <span class="value">Sep 2016 – May 2018</span>
                </li>

                <li>
                    <span class="label">📍 Location</span>
                    <span class="value">Donetsk, Ukraine</span>
                </li>
            </ul>

            <a href="https://itstep.us/"
               target="_blank"
               class="btn btn-primary mt-auto">
                Visit Website
            </a>
        </div>

    </div>

</section>


<!--CERTIFICATION SECTION-->
<section id="certificate-section">

    <h2 class="section-title">My Certificates</h2>

    <div class="certificate-container">

        <div class="web-dev-card certificate-card card">
            <img class="card-img-top" src="{% static 'images/web-dev.png' %}" alt="Web Development Certificate">

            <ul class="about-certificate pe-4">
                <li>
                    <span class="label">🏫Name</span>
                    <span class="value">Harper College</span>
                </li>

                <li>
                    <span class="label">🎓Major</span>
                    <span class="value">Web Development</span>
                </li>

                <li>
                    <span class="label">📜 Earned Date</span>
                    <span class="value">May 2025</span>
                </li>

                <li>
                    <span class="label">📍 Location</span>
                    <span class="value">Palatine, IL</span>
                </li>
            </ul>

            <a href="{% static 'files/Web Development Certificate.pdf' %}"
                class="btn btn-primary mt-auto" download>
                <i class="fa-solid fa-download"></i> Download
            </a>
        </div>

        <div class="network-card certificate-card card">
            <img class="card-img-top" src="{% static 'images/networking.png' %}" alt="CompTIA Network+">

            <ul class="about-certificate pe-4">
                <li>
                    <span class="label">🏫Name</span>
                    <span class="value">Harper College</span>
                </li>

                <li>
                    <span class="label">🎓 Major</span>
                    <span class="value">CompTIA Network +</span>
                </li>

                <li>
                    <span class="label">📜 Earned Date</span>
                    <span class="value">July 2025</span>
                </li>

                <li>
                    <span class="label">📍 Location</span>
                    <span class="value">Palatine, IL</span>
                </li>
            </ul>

            <a href="{% static 'files/CompTIA Network+.pdf' %}"
               class="btn btn-primary mt-auto" download>
                <i class="fa-solid fa-download"></i> Download
            </a>
        </div>

        <div class="security-card certificate-card card">
            <img class="card-img-top" src="{% static 'images/security.png' %}" alt="Security+">

            <ul class="about-certificate pe-4">
                <li>
                    <span class="label">🏫Name</span>
                    <span class="value">Harper College</span>
                </li>

                <li>
                    <span class="label">🎓 Major</span>
                    <span class="value">Security +</span>
                </li>

                <li>
                    <span class="label">📜 Earned Date</span>
                    <span class="value">December 2025</span>
                </li>

                <li>
                    <span class="label">📍 Location</span>
                    <span class="value">Palatine, IL</span>
                </li>
            </ul>

            <a href="{% static 'files/Security+_report.pdf' %}"
               class="btn btn-primary mt-auto" download>
                <i class="fa-solid fa-download"></i> Download
            </a>
        </div>

        <div class="linux-card certificate-card card">
            <img class="card-img-top" src="{% static 'images/linux.png' %}" alt="Linux+">

            <ul class="about-certificate pe-4">
                <li>
                    <span class="label">🏫Name</span>
                    <span class="value">Harper College</span>
                </li>

                <li>
                    <span class="label">🎓 Major</span>
                    <span class="value">Linux +</span>
                </li>

                <li>
                    <span class="label">📜 Earned Date</span>
                    <span class="value">April 2026</span>
                </li>

                <li>
                    <span class="label">📍 Location</span>
                    <span class="value">Palatine, IL</span>
                </li>
            </ul>

            <a href="{% static 'files/Linux+_report.pdf' %}"
               class="btn btn-primary mt-auto" download>
                <i class="fa-solid fa-download"></i> Download
            </a>
        </div>

        <div class="windows-server-card certificate-card card">
            <img class="card-img-top" src="{% static 'images/win-server.png' %}" alt="Windows server administration">

            <ul class="about-certificate pe-4">
                <li>
                    <span class="label">🏫Name</span>
                    <span class="value">Harper College</span>
                </li>

                <li>
                    <span class="label">🎓 Major</span>
                    <span class="value">Windows Server Admin</span>
                </li>

                <li>
                    <span class="label">📜 Earned Date</span>
                    <span class="value">April 2026</span>
                </li>

                <li>
                    <span class="label">📍 Location</span>
                    <span class="value">Palatine, IL</span>
                </li>
            </ul>

            <a href="{% static 'files/Windows-server.pdf' %}"
               class="btn btn-primary mt-auto" download>
                <i class="fa-solid fa-download"></i> Download
            </a>
        </div>

        <div class="bachelor-card certificate-card card">
            <img class="card-img-top" src="{% static 'images/diploma.png' %}" alt="Bachelor Degree">

            <ul class="about-certificate pe-4">
                <li>
                    <span class="label">🏫Name</span>
                    <span class="value">Donetsk Tech University</span>
                </li>

                <li>
                    <span class="label">🎓Major</span>
                    <span class="value">Business Informatics</span>
                </li>

                <li>
                    <span class="label">📜 Earned Date</span>
                    <span class="value">June 2020</span>
                </li>

                <li>
                    <span class="label">📍 Location</span>
                    <span class="value">Donetsk Ukraine</span>
                </li>
            </ul>

            <a href="{% static 'files/donetsk-diploma.pdf' %}"
                class="btn btn-primary mt-auto" download>
                <i class="fa-solid fa-download"></i> Download
            </a>
        </div>


    </div>

    <div class="resume-container">
        <h3>Want to see my full resume?</h3>

        <a href="{% static 'files/Resume.pdf' %}"
           download="Resume.pdf"
           class="resume-btn">
            <span>Download Resume</span>
            <i class="fa-solid fa-download"></i>
        </a>
    </div>
</section>

<!--SECTION CONTACTS-->
<section id="contact-section">

    <h2 class="section-title">Contact me</h2>

    <div class="contact-container">
        <div class="contact-info">

            <div class="contact-title">
                <h3>Get in Touch</h3>
                <p class="contact-description">
                    Have a question or want to work together? Feel free to reach out. I’d be happy to discuss your project, ideas, or any opportunities to collaborate.
                </p>
            </div>

            <div class="contact-details">
                <div class="contact-item">
                    <i class="bi bi-telephone"></i>
                    <span id="phone">+1 (224) 804-1161</span>
                    <button class="copy-btn" type="button" onclick="copyText('phone', this)">
                        <i class="fa-regular fa-copy"></i>
                    </button>
                </div>
                <div class="contact-item">
                    <i class="bi bi-envelope"></i>
                    <span id="e-mail">semnik280997@gmail.com</span>
                    <button class="copy-btn" type="button" onclick="copyText('e-mail', this)">
                        <i class="fa-regular fa-copy"></i>
                    </button>
                </div>
            </div>

            <div class="social-media">
                <a href="https://t.me/niksem97" target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-telegram fs-2 text-primary social-icon telegram" role="button"></i>
                </a>
                <a href="https://www.instagram.com/nikitasemenii/" target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-instagram fs-2 text-primary social-icon instagram" role="button"></i>
                </a>
                <a href="https://www.facebook.com/profile.php?id=100092041741919" target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-facebook fs-2 text-primary social-icon facebook" role="button"></i>
                </a>
                <a href="https://www.linkedin.com/in/nikita-semenii/" target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-linkedin fs-2 text-primary social-icon linkedin" role="button"></i>
                </a>

            </div>

        </div>

        <div class="contact-form">
            <form id="contactForm" method="post" action="{% url 'email' %}" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="form-group">
                    <div class="form-box">
                        <label for="fullName">Full Name *</label>
                        <input type="text" id="fullName" name="fullName" placeholder="Jacob Hansk" required>
                    </div>

                    <div class="form-box">
                        <label for="companyName">Company Name *</label>
                        <input type="text" id="companyName" name="companyName" placeholder="Best Company" required>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-box">
                        <label for="email">Company's Email *</label>
                        <input type="email" id="email" name="email" placeholder="jhcompany@gmail.com" required>
                    </div>

                    <div class="form-box">
                        <label for="subject">Subject *</label>
                        <input type="text" id="subject" name="subject" placeholder="Subject" required>
                    </div>
                </div>

                <div class="upload-box d-flex align-items-center gap-3">
                    <input type="file" id="attachment" name="attachments" hidden multiple>
                        <label for="attachment" class="upload-btn btn btn-primary btn-sm">
                            <i class="bi bi-paperclip"></i> Upload
                        </label>
                        <span class="tooltip-text">Max 5 files</span>


                    <div id="file-list" class="small flex-grow-1">
                        <span id="file-name">No file selected</span>
                    </div>

                    <button type="button" id="clear-files" class="btn btn-outline-danger btn-sm">
                        <i class="bi bi-trash3"></i>
                    </button>
                </div>

                <div class="form-box">
                    <label for="sms">Message *</label>
                    <textarea id="sms" name="sms" placeholder="Message" rows="4"></textarea>
                </div>

                <button type="submit" class="submit-btn">Submit</button>

            </form>
        </div>
    </div>
</section>

<!--FOOTER-->
<footer id="footer">
    <div class="footer-container">

        <a class="navbar-brand logo" href="#">NS</a>

        <div class="copyright">
            <div class="copyright-info">
                <span class="fw-bold text-light small">Nikita Semenii</span>
                <span class="text-light small">|</span>
                <span class="text-light small">&copy; 2026</span>
            </div>
            <div class="copyright-github">
                <ul class="d-flex align-items-center gap-2 m-0 p-0 list-unstyled">
                    <li class="nav-item">
                        <a class="text-light text-decoration-none small hover-scale" href="https://github.com/Mykyta28">GitHub</a>
                    </li>
                </ul>
            </div>

        </div>

        <div class="links">
            <a href="https://t.me/niksem97" class="text-white-50 text-decoration-none hover-social" target="_blank">
                <i class="bi bi-telegram"></i>
            </a>
            <a href="https://www.instagram.com/nikitasemenii/" class="text-white-50 text-decoration-none hover-social" target="_blank">
                <i class="bi bi-instagram"></i>
            </a>
            <a href="https://www.facebook.com/profile.php?id=100092041741919" class="text-white-50 text-decoration-none hover-social" target="_blank">
                <i class="bi bi-facebook"></i>
            </a>
            <a href="https://www.linkedin.com/in/nikita-semenii/" class="text-white-50 text-decoration-none hover-social" target="_blank">
                <i class="bi bi-linkedin"></i>
            </a>
        </div>

    </div>
</footer>

<!--JS-->
<script src="{% static 'js/navbar-links.js' %}"></script>
<script src="{% static 'js/job-desc.js' %}"></script>
<script src="{% static 'js/attachments.js' %}"></script>
<script src="{% static 'js/notification-alert.js' %}"></script>
<script src="{% static 'js/copy-script.js' %}"></script>

</body>
</html>
